<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.glory.web.dao.BacterialstraininfoMapper" >
  <resultMap id="BaseResultMap" type="top.glory.web.model.Bacterialstraininfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sample_info_id" property="sampleInfoId" jdbcType="INTEGER" />
    <result column="sample_num" property="sampleNum" jdbcType="VARCHAR" />
    <result column="original_num" property="originalNum" jdbcType="VARCHAR" />
    <result column="word_addr" property="wordAddr" jdbcType="VARCHAR" />
    <result column="txt_addr" property="txtAddr" jdbcType="VARCHAR" />
    <result column="picture_addr" property="pictureAddr" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sample_info_id, sample_num, original_num, word_addr, txt_addr, picture_addr, 
    create_time, isdel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.glory.web.model.BacterialstraininfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bacterial_strain_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bacterial_strain_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bacterial_strain_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.glory.web.model.BacterialstraininfoExample" >
    delete from bacterial_strain_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.glory.web.model.Bacterialstraininfo" >
    insert into bacterial_strain_info (id, sample_info_id, sample_num, 
      original_num, word_addr, txt_addr, 
      picture_addr, create_time, isdel
      )
    values (#{id,jdbcType=INTEGER}, #{sampleInfoId,jdbcType=INTEGER}, #{sampleNum,jdbcType=VARCHAR}, 
      #{originalNum,jdbcType=VARCHAR}, #{wordAddr,jdbcType=VARCHAR}, #{txtAddr,jdbcType=VARCHAR}, 
      #{pictureAddr,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.glory.web.model.Bacterialstraininfo" >
    insert into bacterial_strain_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sampleInfoId != null" >
        sample_info_id,
      </if>
      <if test="sampleNum != null" >
        sample_num,
      </if>
      <if test="originalNum != null" >
        original_num,
      </if>
      <if test="wordAddr != null" >
        word_addr,
      </if>
      <if test="txtAddr != null" >
        txt_addr,
      </if>
      <if test="pictureAddr != null" >
        picture_addr,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sampleInfoId != null" >
        #{sampleInfoId,jdbcType=INTEGER},
      </if>
      <if test="sampleNum != null" >
        #{sampleNum,jdbcType=VARCHAR},
      </if>
      <if test="originalNum != null" >
        #{originalNum,jdbcType=VARCHAR},
      </if>
      <if test="wordAddr != null" >
        #{wordAddr,jdbcType=VARCHAR},
      </if>
      <if test="txtAddr != null" >
        #{txtAddr,jdbcType=VARCHAR},
      </if>
      <if test="pictureAddr != null" >
        #{pictureAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.glory.web.model.BacterialstraininfoExample" resultType="java.lang.Integer" >
    select count(*) from bacterial_strain_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bacterial_strain_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sampleInfoId != null" >
        sample_info_id = #{record.sampleInfoId,jdbcType=INTEGER},
      </if>
      <if test="record.sampleNum != null" >
        sample_num = #{record.sampleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.originalNum != null" >
        original_num = #{record.originalNum,jdbcType=VARCHAR},
      </if>
      <if test="record.wordAddr != null" >
        word_addr = #{record.wordAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.txtAddr != null" >
        txt_addr = #{record.txtAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureAddr != null" >
        picture_addr = #{record.pictureAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bacterial_strain_info
    set id = #{record.id,jdbcType=INTEGER},
      sample_info_id = #{record.sampleInfoId,jdbcType=INTEGER},
      sample_num = #{record.sampleNum,jdbcType=VARCHAR},
      original_num = #{record.originalNum,jdbcType=VARCHAR},
      word_addr = #{record.wordAddr,jdbcType=VARCHAR},
      txt_addr = #{record.txtAddr,jdbcType=VARCHAR},
      picture_addr = #{record.pictureAddr,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      isdel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.glory.web.model.Bacterialstraininfo" >
    update bacterial_strain_info
    <set >
      <if test="sampleInfoId != null" >
        sample_info_id = #{sampleInfoId,jdbcType=INTEGER},
      </if>
      <if test="sampleNum != null" >
        sample_num = #{sampleNum,jdbcType=VARCHAR},
      </if>
      <if test="originalNum != null" >
        original_num = #{originalNum,jdbcType=VARCHAR},
      </if>
      <if test="wordAddr != null" >
        word_addr = #{wordAddr,jdbcType=VARCHAR},
      </if>
      <if test="txtAddr != null" >
        txt_addr = #{txtAddr,jdbcType=VARCHAR},
      </if>
      <if test="pictureAddr != null" >
        picture_addr = #{pictureAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.glory.web.model.Bacterialstraininfo" >
    update bacterial_strain_info
    set sample_info_id = #{sampleInfoId,jdbcType=INTEGER},
      sample_num = #{sampleNum,jdbcType=VARCHAR},
      original_num = #{originalNum,jdbcType=VARCHAR},
      word_addr = #{wordAddr,jdbcType=VARCHAR},
      txt_addr = #{txtAddr,jdbcType=VARCHAR},
      picture_addr = #{pictureAddr,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>