<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.glory.web.dao.SampletoxinMapper" >
  <resultMap id="BaseResultMap" type="top.glory.web.model.Sampletoxin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="toxin_id" property="toxinId" jdbcType="INTEGER" />
    <result column="toxin_count" property="toxinCount" jdbcType="REAL" />
    <result column="sample_info_id" property="sampleInfoId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, toxin_id, toxin_count, sample_info_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.glory.web.model.SampletoxinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sample_toxin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sample_toxin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sample_toxin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.glory.web.model.SampletoxinExample" >
    delete from sample_toxin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.glory.web.model.Sampletoxin" >
    insert into sample_toxin (id, toxin_id, toxin_count, 
      sample_info_id)
    values (#{id,jdbcType=INTEGER}, #{toxinId,jdbcType=INTEGER}, #{toxinCount,jdbcType=REAL}, 
      #{sampleInfoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.glory.web.model.Sampletoxin" >
    insert into sample_toxin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="toxinId != null" >
        toxin_id,
      </if>
      <if test="toxinCount != null" >
        toxin_count,
      </if>
      <if test="sampleInfoId != null" >
        sample_info_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toxinId != null" >
        #{toxinId,jdbcType=INTEGER},
      </if>
      <if test="toxinCount != null" >
        #{toxinCount,jdbcType=REAL},
      </if>
      <if test="sampleInfoId != null" >
        #{sampleInfoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 根据toxinid和sampleinfoid查询toxincount -->
  <select id="selectToxinCount" resultType="java.lang.Integer">
  SELECT sample_toxin.toxin_count FROM sample_toxin WHERE toxin_id=#{id}  AND sample_info_id=#{sampleid}
  </select>
  <select id="countByExample" parameterType="top.glory.web.model.SampletoxinExample" resultType="java.lang.Integer" >
    select count(*) from sample_toxin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sample_toxin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.toxinId != null" >
        toxin_id = #{record.toxinId,jdbcType=INTEGER},
      </if>
      <if test="record.toxinCount != null" >
        toxin_count = #{record.toxinCount,jdbcType=REAL},
      </if>
      <if test="record.sampleInfoId != null" >
        sample_info_id = #{record.sampleInfoId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sample_toxin
    set id = #{record.id,jdbcType=INTEGER},
      toxin_id = #{record.toxinId,jdbcType=INTEGER},
      toxin_count = #{record.toxinCount,jdbcType=REAL},
      sample_info_id = #{record.sampleInfoId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.glory.web.model.Sampletoxin" >
    update sample_toxin
    <set >
      <if test="toxinId != null" >
        toxin_id = #{toxinId,jdbcType=INTEGER},
      </if>
      <if test="toxinCount != null" >
        toxin_count = #{toxinCount,jdbcType=REAL},
      </if>
      <if test="sampleInfoId != null" >
        sample_info_id = #{sampleInfoId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.glory.web.model.Sampletoxin" >
    update sample_toxin
    set toxin_id = #{toxinId,jdbcType=INTEGER},
      toxin_count = #{toxinCount,jdbcType=REAL},
      sample_info_id = #{sampleInfoId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>