<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.glory.web.dao.SampleinfoMapper" >
  <resultMap id="BaseResultMap" type="top.glory.web.model.Sampleinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sample_id" property="sampleId" jdbcType="VARCHAR" />
    <result column="crop_category_id" property="cropCategoryId" jdbcType="INTEGER" />
    <result column="breed" property="breed" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="township" property="township" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="household" property="household" jdbcType="VARCHAR" />
    <result column="harvest_time" property="harvestTime" jdbcType="TIMESTAMP" />
    <result column="sampling_time" property="samplingTime" jdbcType="TIMESTAMP" />
    <result column="sampling_people" property="samplingPeople" jdbcType="VARCHAR" />
    <result column="toxin_id" property="toxinId" jdbcType="INTEGER" />
    <result column="toxin_count" property="toxinCount" jdbcType="REAL" />
    <result column="pollution_rate" property="pollutionRate" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="check_permissions" property="checkPermissions" jdbcType="INTEGER" />
    <result column="download_privileges" property="downloadPrivileges" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="input_time" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="enterpeople" property="enterpeople" jdbcType="INTEGER" />
    <result column="varieties" property="varieties" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.glory.web.model.SampleinfoWithBLOBs" extends="BaseResultMap" >
    <result column="seasonal" property="seasonal" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sample_id, crop_category_id, breed, province, city, county, township, village, 
    household, harvest_time, sampling_time, sampling_people, toxin_id, toxin_count, pollution_rate, 
    create_time, check_permissions, download_privileges, isdel, input_time, flag, enterpeople, 
    varieties
  </sql>
  <sql id="Blob_Column_List" >
    seasonal, description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="top.glory.web.model.SampleinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sample_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.glory.web.model.SampleinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sample_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sample_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sample_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.glory.web.model.SampleinfoExample" >
    delete from sample_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.glory.web.model.SampleinfoWithBLOBs" >
    insert into sample_info (id, sample_id, crop_category_id, 
      breed, province, city, 
      county, township, village, 
      household, harvest_time, sampling_time, 
      sampling_people, toxin_id, toxin_count, 
      pollution_rate, create_time, check_permissions, 
      download_privileges, isdel, input_time, 
      flag, enterpeople, varieties, 
      seasonal, description)
    values (#{id,jdbcType=INTEGER}, #{sampleId,jdbcType=VARCHAR}, #{cropCategoryId,jdbcType=INTEGER}, 
      #{breed,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{township,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, 
      #{household,jdbcType=VARCHAR}, #{harvestTime,jdbcType=TIMESTAMP}, #{samplingTime,jdbcType=TIMESTAMP}, 
      #{samplingPeople,jdbcType=VARCHAR}, #{toxinId,jdbcType=INTEGER}, #{toxinCount,jdbcType=REAL}, 
      #{pollutionRate,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, #{checkPermissions,jdbcType=INTEGER}, 
      #{downloadPrivileges,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, #{inputTime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=INTEGER}, #{enterpeople,jdbcType=INTEGER}, #{varieties,jdbcType=VARCHAR}, 
      #{seasonal,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.glory.web.model.SampleinfoWithBLOBs" >
    insert into sample_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sampleId != null" >
        sample_id,
      </if>
      <if test="cropCategoryId != null" >
        crop_category_id,
      </if>
      <if test="breed != null" >
        breed,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="township != null" >
        township,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="household != null" >
        household,
      </if>
      <if test="harvestTime != null" >
        harvest_time,
      </if>
      <if test="samplingTime != null" >
        sampling_time,
      </if>
      <if test="samplingPeople != null" >
        sampling_people,
      </if>
      <if test="toxinId != null" >
        toxin_id,
      </if>
      <if test="toxinCount != null" >
        toxin_count,
      </if>
      <if test="pollutionRate != null" >
        pollution_rate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="checkPermissions != null" >
        check_permissions,
      </if>
      <if test="downloadPrivileges != null" >
        download_privileges,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="inputTime != null" >
        input_time,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="enterpeople != null" >
        enterpeople,
      </if>
      <if test="varieties != null" >
        varieties,
      </if>
      <if test="seasonal != null" >
        seasonal,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sampleId != null" >
        #{sampleId,jdbcType=VARCHAR},
      </if>
      <if test="cropCategoryId != null" >
        #{cropCategoryId,jdbcType=INTEGER},
      </if>
      <if test="breed != null" >
        #{breed,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="township != null" >
        #{township,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="household != null" >
        #{household,jdbcType=VARCHAR},
      </if>
      <if test="harvestTime != null" >
        #{harvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="samplingTime != null" >
        #{samplingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="samplingPeople != null" >
        #{samplingPeople,jdbcType=VARCHAR},
      </if>
      <if test="toxinId != null" >
        #{toxinId,jdbcType=INTEGER},
      </if>
      <if test="toxinCount != null" >
        #{toxinCount,jdbcType=REAL},
      </if>
      <if test="pollutionRate != null" >
        #{pollutionRate,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkPermissions != null" >
        #{checkPermissions,jdbcType=INTEGER},
      </if>
      <if test="downloadPrivileges != null" >
        #{downloadPrivileges,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="enterpeople != null" >
        #{enterpeople,jdbcType=INTEGER},
      </if>
      <if test="varieties != null" >
        #{varieties,jdbcType=VARCHAR},
      </if>
      <if test="seasonal != null" >
        #{seasonal,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.glory.web.model.SampleinfoExample" resultType="java.lang.Integer" >
    select count(*) from sample_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sample_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sampleId != null" >
        sample_id = #{record.sampleId,jdbcType=VARCHAR},
      </if>
      <if test="record.cropCategoryId != null" >
        crop_category_id = #{record.cropCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.breed != null" >
        breed = #{record.breed,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null" >
        county = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.township != null" >
        township = #{record.township,jdbcType=VARCHAR},
      </if>
      <if test="record.village != null" >
        village = #{record.village,jdbcType=VARCHAR},
      </if>
      <if test="record.household != null" >
        household = #{record.household,jdbcType=VARCHAR},
      </if>
      <if test="record.harvestTime != null" >
        harvest_time = #{record.harvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.samplingTime != null" >
        sampling_time = #{record.samplingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.samplingPeople != null" >
        sampling_people = #{record.samplingPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.toxinId != null" >
        toxin_id = #{record.toxinId,jdbcType=INTEGER},
      </if>
      <if test="record.toxinCount != null" >
        toxin_count = #{record.toxinCount,jdbcType=REAL},
      </if>
      <if test="record.pollutionRate != null" >
        pollution_rate = #{record.pollutionRate,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkPermissions != null" >
        check_permissions = #{record.checkPermissions,jdbcType=INTEGER},
      </if>
      <if test="record.downloadPrivileges != null" >
        download_privileges = #{record.downloadPrivileges,jdbcType=INTEGER},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
      <if test="record.inputTime != null" >
        input_time = #{record.inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.enterpeople != null" >
        enterpeople = #{record.enterpeople,jdbcType=INTEGER},
      </if>
      <if test="record.varieties != null" >
        varieties = #{record.varieties,jdbcType=VARCHAR},
      </if>
      <if test="record.seasonal != null" >
        seasonal = #{record.seasonal,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sample_info
    set id = #{record.id,jdbcType=INTEGER},
      sample_id = #{record.sampleId,jdbcType=VARCHAR},
      crop_category_id = #{record.cropCategoryId,jdbcType=INTEGER},
      breed = #{record.breed,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      township = #{record.township,jdbcType=VARCHAR},
      village = #{record.village,jdbcType=VARCHAR},
      household = #{record.household,jdbcType=VARCHAR},
      harvest_time = #{record.harvestTime,jdbcType=TIMESTAMP},
      sampling_time = #{record.samplingTime,jdbcType=TIMESTAMP},
      sampling_people = #{record.samplingPeople,jdbcType=VARCHAR},
      toxin_id = #{record.toxinId,jdbcType=INTEGER},
      toxin_count = #{record.toxinCount,jdbcType=REAL},
      pollution_rate = #{record.pollutionRate,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      check_permissions = #{record.checkPermissions,jdbcType=INTEGER},
      download_privileges = #{record.downloadPrivileges,jdbcType=INTEGER},
      isdel = #{record.isdel,jdbcType=INTEGER},
      input_time = #{record.inputTime,jdbcType=TIMESTAMP},
      flag = #{record.flag,jdbcType=INTEGER},
      enterpeople = #{record.enterpeople,jdbcType=INTEGER},
      varieties = #{record.varieties,jdbcType=VARCHAR},
      seasonal = #{record.seasonal,jdbcType=LONGVARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sample_info
    set id = #{record.id,jdbcType=INTEGER},
      sample_id = #{record.sampleId,jdbcType=VARCHAR},
      crop_category_id = #{record.cropCategoryId,jdbcType=INTEGER},
      breed = #{record.breed,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      township = #{record.township,jdbcType=VARCHAR},
      village = #{record.village,jdbcType=VARCHAR},
      household = #{record.household,jdbcType=VARCHAR},
      harvest_time = #{record.harvestTime,jdbcType=TIMESTAMP},
      sampling_time = #{record.samplingTime,jdbcType=TIMESTAMP},
      sampling_people = #{record.samplingPeople,jdbcType=VARCHAR},
      toxin_id = #{record.toxinId,jdbcType=INTEGER},
      toxin_count = #{record.toxinCount,jdbcType=REAL},
      pollution_rate = #{record.pollutionRate,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      check_permissions = #{record.checkPermissions,jdbcType=INTEGER},
      download_privileges = #{record.downloadPrivileges,jdbcType=INTEGER},
      isdel = #{record.isdel,jdbcType=INTEGER},
      input_time = #{record.inputTime,jdbcType=TIMESTAMP},
      flag = #{record.flag,jdbcType=INTEGER},
      enterpeople = #{record.enterpeople,jdbcType=INTEGER},
      varieties = #{record.varieties,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.glory.web.model.SampleinfoWithBLOBs" >
    update sample_info
    <set >
      <if test="sampleId != null" >
        sample_id = #{sampleId,jdbcType=VARCHAR},
      </if>
      <if test="cropCategoryId != null" >
        crop_category_id = #{cropCategoryId,jdbcType=INTEGER},
      </if>
      <if test="breed != null" >
        breed = #{breed,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="township != null" >
        township = #{township,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="household != null" >
        household = #{household,jdbcType=VARCHAR},
      </if>
      <if test="harvestTime != null" >
        harvest_time = #{harvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="samplingTime != null" >
        sampling_time = #{samplingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="samplingPeople != null" >
        sampling_people = #{samplingPeople,jdbcType=VARCHAR},
      </if>
      <if test="toxinId != null" >
        toxin_id = #{toxinId,jdbcType=INTEGER},
      </if>
      <if test="toxinCount != null" >
        toxin_count = #{toxinCount,jdbcType=REAL},
      </if>
      <if test="pollutionRate != null" >
        pollution_rate = #{pollutionRate,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkPermissions != null" >
        check_permissions = #{checkPermissions,jdbcType=INTEGER},
      </if>
      <if test="downloadPrivileges != null" >
        download_privileges = #{downloadPrivileges,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null" >
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="enterpeople != null" >
        enterpeople = #{enterpeople,jdbcType=INTEGER},
      </if>
      <if test="varieties != null" >
        varieties = #{varieties,jdbcType=VARCHAR},
      </if>
      <if test="seasonal != null" >
        seasonal = #{seasonal,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.glory.web.model.SampleinfoWithBLOBs" >
    update sample_info
    set sample_id = #{sampleId,jdbcType=VARCHAR},
      crop_category_id = #{cropCategoryId,jdbcType=INTEGER},
      breed = #{breed,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      township = #{township,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      household = #{household,jdbcType=VARCHAR},
      harvest_time = #{harvestTime,jdbcType=TIMESTAMP},
      sampling_time = #{samplingTime,jdbcType=TIMESTAMP},
      sampling_people = #{samplingPeople,jdbcType=VARCHAR},
      toxin_id = #{toxinId,jdbcType=INTEGER},
      toxin_count = #{toxinCount,jdbcType=REAL},
      pollution_rate = #{pollutionRate,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      check_permissions = #{checkPermissions,jdbcType=INTEGER},
      download_privileges = #{downloadPrivileges,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      enterpeople = #{enterpeople,jdbcType=INTEGER},
      varieties = #{varieties,jdbcType=VARCHAR},
      seasonal = #{seasonal,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.glory.web.model.Sampleinfo" >
    update sample_info
    set sample_id = #{sampleId,jdbcType=VARCHAR},
      crop_category_id = #{cropCategoryId,jdbcType=INTEGER},
      breed = #{breed,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      township = #{township,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      household = #{household,jdbcType=VARCHAR},
      harvest_time = #{harvestTime,jdbcType=TIMESTAMP},
      sampling_time = #{samplingTime,jdbcType=TIMESTAMP},
      sampling_people = #{samplingPeople,jdbcType=VARCHAR},
      toxin_id = #{toxinId,jdbcType=INTEGER},
      toxin_count = #{toxinCount,jdbcType=REAL},
      pollution_rate = #{pollutionRate,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      check_permissions = #{checkPermissions,jdbcType=INTEGER},
      download_privileges = #{downloadPrivileges,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      enterpeople = #{enterpeople,jdbcType=INTEGER},
      varieties = #{varieties,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>